@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    text-decoration: none;
    background: linear-gradient(150deg,#FBA24F, #FF1E1E);
    padding: 15px 38px;
    color: #fff;
    border-radius: 25px;
}

img {
    width: 100%;
}

section {
    margin: 50px 0;
} 

.flexable-item {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
    color: #676767;
    font-weight: 600;
}

p {
    color: #828282;
}

.half-width {
    width: 50%;
    margin-left: 5%;
    padding-left: 3%;
}

.half-width img {
    width: 90%;
}

.half-width h1 {
    color: #575757;
}

.half-width p {
    padding: 50px 0;
}

.orange-color {
    color: orange;
}


/* about section style */

.about {
    background: url('images/shapes/7.png');
    height: 500px;
}

.about img {
    width: 80%;
    margin-top: 94px;
}

.about p {
    margin-right: 155px;
    padding: 47px 0px;
}

/* food recipie */

.all-recipe {
    display: flex;
    justify-content: center;
    width: 1158px;
    margin: auto;
}

.recipe-item {
    width: 320px;
    margin-right: 45px;
    padding: 24px;
    background: #fff;
    box-shadow: 1px 1px 5px #c1c1c1;
    border-radius: 20px;
}

.header-content {
    width: 705px;
    margin: auto;
    text-align: center;
    margin-bottom: 35px;
}

.recipe-item h3 {
    font-size: 28px;
    margin-top: 30px;
    color: #18191F;
    margin-bottom: 7px;
    font-weight: 700;
}

.header-content h2 {
    margin-bottom: 24px;
}

.recipe {
    margin: 65px 0;
}

/* follower */

.follower .all-recipe {
    justify-content: space-between;
}

.follower h1 {
    font-weight: 600;
}

.follower {
    margin-top: 138px;
}