@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    text-decoration: none;
    background: linear-gradient(150deg,#FBA24F, #FF1E1E);
    padding: 15px 30px;
    color: #fff;
    border-radius: 25px;
}

img {
    width: 100%;
}

section {
    margin: 50px 0;
} 

.flexable-item {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
    color: #707070;
}


.half-width {
    width: 50%;
    margin-left: 5%;
    padding-left: 3%;
}

.half-width img {
    width: 90%;
}

.half-width h1 {
    color: #575757;
}

.half-width p {
    color: #828282;
    padding: 25px 0;
}

.orange-color {
    color: orange;
}


/* about section style */

.about {
    background: url('images/shapes/7.png');
    height: 500px;
}

.about img {
    width: 80%;
    margin-top: 94px;
}

.about p {
    margin-right: 155px;
    padding: 47px 0px;
}